body {
  max-width: 100%;
  max-height: 100%;
  background-color: #cdd2d8;
  margin: 0;
}

body:after {
  content:"";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 2px dotted #efdce9;
}

.canvas {
  border: 2px solid #efdce9;
  margin: auto;
  display: block;
  margin-top: 10%;
  background-color: #273751;
}

.line {
  height: 8px;
  width: 95%;
  background-color: #efdce9;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.top-line {
  top: 20px;
}

.bottom-line {
  bottom: 20px;
}

.score {
  font-size: 30px;
  color: #efdce9;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
}

.score-one {
  display: inline-block;
  padding: 5px 10px;
}

.score-two {
  display: inline-block;
  padding: 5px 10px;
}
